<h1>Bienvenido a la gestión de los Países.</h1>
<h2>Introducción:</h2>
<p>
    Con esta pequeña aplicación me introduzco en la gestión de Ciudades y Países.<br>
    Utilizando el modelo MVC conjuntamente con una BD de Mysql.<br>
    Para gestionar los Países clickea el enlace Países. <br>
    Para gestionar las Ciudades, clickea el enlace Ciudades.
</p>